body {
    background: url('bg.png') repeat;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#tv {
    background: url('tv.png') no-repeat;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-position: center 0px;
    width: 660px;
    height: 540px;
    padding-top: 120px;
    padding-right: 80px;
    box-sizing: border-box;
}

#player {
    width: 256px;
    height: 240px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: block;
    margin: 0 auto;
}

#volumeControl {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#volumeIndicator {
    fill: #fff;
    height: 16px;
}

.controllerWrapper {
    width: 310px;
    margin: 20px;
    text-align: center;
    color: #fff;
}

h4 {
    padding: 0;
    margin: 0;
}

label {
    display: block;
    float: left;
    text-align: left;
    width: 20px;
}

#controller1,
#controller2 {
    height: 120px;
    margin: 0 auto;
}

.error {
    background: red;
    color: white;
}

input {
    margin-bottom: 5px;
}

input[type="text"].focus {
    outline: none;
    border: 2px solid blue;
    color: blue;
}